.editor {
  flex: 1;
  background-color: #fff;
  margin: 0 10px;
  height: 90%;
}
.output {
  flex: 1;
  background-color: #fff;
  margin: 0 10px;
  height: 90%;
}
.frame {
  height: 100%;
  width: 100%;
}
